
<div div class="containerX">
  <div fxLayout="row wrap" class="colored box nopad" >

    <div fxFlex="150px">[fxFlex]</div>
    <div fxFlexOffset="20" fxFlex>[fxFlex]</div>

    <div fxFlex>[fxFlex]</div>
    <div fxFlexOffset="50%" fxFlex>[fxFlex]</div>

    <div fxFlexOffset="20" fxFlex="50">[fxFlex]</div>
    <div fxFlexOffset="25" fxFlex="25%">[fxFlex]</div>

  </div>
</div>

<hr>

<div div class="containerX">
  <div fxLayout="row wrap" class="colored box nopad" >

    <div fxFlex="none">     [flex="none"]       </div>
    <div fxFlex>            [flex]              </div>
    <div fxFlex="nogrow">   [flex="nogrow"]     </div>

    <div fxFlex="grow">     [flex="grow"]       </div>

    <div fxFlex="33.33%">   [flex="33.33%"]     </div>
    <div fxFlex="33.33%">   [flex="33.33%"]     </div>
    <div fxFlex="33.33%">   [flex="33.33%"]     </div>

  </div>
</div>

